<div class="container">
  <%= render partial: "layouts/flash" %>
  <div class="col-md-12">
    <div class="row show-item">
      <h4> <%=@item.title %></h4>
      <div class="col-md-8">
        <%= image_tag @item.avatar.url, {:class=> "img-responsive"}%>
      </div>
      <div class="col-md-4" id="item-description">
        <h4>Description:</h4>
        <p><%= @item.description %></p>
      </div>
    </div>
    <div class="row">
      <h6 class=""><%= "Starting Price: #{number_to_currency(@item.starting_price)}" %></h6>
      <h6 class=""><%= "Current Bid: #{number_to_currency(@item.current_bid)}" %></h6>
    </div>
  </div>
</div>