<% if current_user %>
  <%=form_for :bid, url: bids_path do |f| %>
    <%= f.label :amount %>
    <%= f.number_field :amount %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :origin_page, value: @item.id %>
    <%= f.submit "Place Bid" %>
  <% end %>
<% else %>
  <td id="cart-donate-button">
    <%= link_to "Join to Bid", login_path, class: "btn btn-primary" %>
  </td>
<% end %>