<ul>
<% current_user.bids.each do |bid| %>
  <li>Auction Item: <%= link_to bid.auction.item.title, item_path(bid.auction.item) %>
  <li>Starting Price: $<%= bid.auction.starting_price %></li>
  <li>Current Highest Bid: $<%= bid.auction.highest_bid %></li>
  <li>Your Current Bid: $<%= bid.amount %></li>
  <li>Bid Status: <%= bid.status %></li><br>
    <% if bid.status == "Losing Bid" %>
      <%= link_to "Update Your Bid", item_path(bid.auction.item), class: "btn btn-primary" %><br><br>
    <% end %>
<% end %>
</ul>
