<table class="boardered centered highlight" >
  <thead>
    <tr>
        <th data-field="name">Auction Item</th>
        <th data-field="price">Starting Price</th>
        <th data-field="high-bid">Current Highest Bid</th>
        <th data-field="your-bid">Your Current Bid</th>
        <th data-field="status">Bid Status</th>
    </tr>
  </thead>

  <tbody>
    <% current_user.bids.each do |bid| %>
    <tr>
      <td><%= link_to bid.auction.item.title, item_path(bid.auction.item) %></td>
      <td><%= "#{number_to_currency(bid.auction.starting_price)}" %></td>
      <td><%= "#{number_to_currency(bid.auction.highest_bid)}" %></td>
      <td><%= "#{number_to_currency(bid.amount)}" %></td>
      <td><% if bid.status == "Losing Bid" %>
              <%= link_to "Update Your Bid", item_path(bid.auction.item),{:class => "waves-effect waves-light btn"} %>
          <% else %>
              <%= bid.status %></td>
          <% end %>
    </tr>
    <% end %>
  </tbody>
</table>