<ul>
<% current_user.bids.each do |bid| %>
  <li>Auction Item: <%= bid.auction.item.title %>
  <li>Starting Price: $<%= bid.auction.starting_price %></li>
  <li>Your Current Bid: $<%= bid.amount %></li>
  <li>Bid Status: <%= bid.status %></li><br>
    <% if bid.status == "Losing Bid" %>
      <%= link_to "Update Your Bid", item_path(bid.auction.item), class: "btn btn-primary" %><br><br>
    <% end %>
<% end %>
</ul>