<div class="container">
  <h1 class="text-center">Edit Auction</h1>
  <%= render partial: "layouts/flash" %>
    <%= form_for ([:seller, @item]),
      html: { class: "form-horizontal center"} do |f| %>
      <div class="form-group col-md-12">
        <%= f.label :title, class: "control-label" %>
        <%= f.text_field :title, class: "form-control" %>
      </div>
      <div class="form-group col-md-12">
        <%= f.label :description, class: "control-label" %>
        <%= f.text_area :description, class: "form-control" %>
      </div>
      <div class="form-group col-md-12">
        <%= f.label :image, class: "control-label" %>
        <%= f.file_field :avatar, class: "form_control" %>
      </div>
      <div class="form-group col-md-12">
        <%= f.label :category, class: "control-label" %>
        <%= f.collection_select :category_id, Category.all, :id, :name, { prompt: nil }, { class: "form-control" } %>
      </div>

      <div class="form-group">
        <%= f.label :starting_price %>
        <%= f.text_field :starting_price, class: "form-control" %>
      </div>

      </div>
        <%= f.submit "Create Auction", class: "btn btn medium" %>
      </div>
    <% end %>
</div>


<!-- edit item title, description -->

<!-- edit auction starting price -->