<div class="container">
  <% if flash[:notice] %>
    <div class="alert alert-success" role="alert">
      <%= raw(flash[:notice]) %>
    </div>
  <% end %>
  <h1 class="lead header">Cart</h1>
  <div class="items">
    <% if @items %>
      <% @items.each do |item| %>
        <div class="row well well-lg">
          <dl class="dl-horizontal">
          <dt class="thumbnail cart-image"><img src="<%= item.loan.avatar.url %>" alt=""></dt>
          <dd>
            <ul class="list-group">
              <li class="list-group-item head">Loan: <%= item.loan.title %></li>
              <li class="list-group-item">Description: <%= item.loan.description %></li>
              <li class="list-group-item quantity">
                <%= form_for(:item_quantity, url: "/cart_items/#{item.loan.id}", method: :put) do |f| %>
                  <%= f.label :quantity %>
                  <%= f.text_field :quantity, placeholder: "#{item.quantity}" %>
                  <%= f.submit "Change Quantity" %>
                <% end %>
              </li>
              <li class="list-group-item"><%= button_to("Remove Loan", "/cart_items/#{item.loan.id}",
                                method: :delete) %></li>
              <li class="list-group-item">Subtotal: <%= number_to_currency(item.subtotal) %></li>
            </ul>
          <dd>
        </div>
      <% end %>
    <% else %>
      <p>Cart is Empty! This ain't no free ride</p>
    <% end %>
    <div class="row">
      <h2 class="col-md-6">Total Price: <%= number_to_currency(@total) %></h2>
      <h2 id="checkout" class="btn btn-success btn-lg pull-right">
      <%= link_to "Checkout", new_order_path %></h2>
    </div>
  </div>
</div>
