<div class="container">
  <% if flash[:notice] %>
    <div class="alert alert-success" role="alert">
      <%= raw(flash[:notice]) %>
    </div>
  <% end %>
  <h1 class="lead header">Checkout</h1>
  <div class="items">
    <% if @items %>
      <% @items.each do |item| %>
        <div class="row well well-lg">
          <dl class="dl-horizontal">
          <dt class="thumbnail cart-image"><img src="<%= item.avatar.url %>" alt=""></dt>
          <dd>
            <ul class="list-group">
              <li class="list-group-item head">Item: <%= item.title %></li>
              <li class="list-group-item">Description: <%= item.description %></li>
              <li class="list-group-item">Subtotal: <%= number_to_currency(item.current_bid) %></li>
            </ul>
          <dd>
        </div>
      <% end %>
    <% else %>
      <p>Cart is Empty! This ain't no free ride</p>
    <% end %>
    <div class="row">
      <h4 class="col-md-10">Total Price: <%= number_to_currency(@total) %></h4>
      <h4 id="checkout"><%= link_to "Checkout", new_order_path, {:class => "waves-effect waves-light btn"} %></h4>
    </div>
  </div>
</div>
