<div class="container">
  <%= render partial: "layouts/flash" %>
  <div class="col-md-12">
    <div class="show-item">
      <%= image_tag @item.avatar.url %>
      <div class="caption-full">
          <h4 class="pull-right"><%= "Current Bid: #{number_to_currency(@item.price)}" %></h4>
          <h4><a href="#"><%= @item.title %></a></h4>
          <p><%= @item.description %></p>
          <%= render "/bids/new.html.erb" %>
      </div>
    </div>
  </div>
</div>
