<div class="container">
  <%= render partial: "layouts/flash" %>
  <div class="col-md-12">
    <div class="row show-item">
      <h4> <%=@item.title %></h4>
      <div class="col-md-8">
        <%= image_tag @item.avatar.url, {:class=> "img-responsive"}%>
      </div>
      <div class="col-md-4" id="item-description">
        <h4>Description:</h4>
        <p><%= @item.description %></p>
      </div>
    </div>
    <div class="row">
      <h6 class=""><%= "Starting Price: #{number_to_currency(@item.starting_price)}" %></h6>
      <h6 class=""><%= "Current Bid: #{number_to_currency(@item.current_bid)}" %></h6>
      <% if @bids.where(user_id: current_user).exists? %>
        <% bid = @bids.find_by(user_id: current_user) %>
        <h6 class=""><%= "Your Current Bid: #{number_to_currency(bid.amount)}" %></h6>
        <h6 class=""><%= "Your Status: #{bid.status}" %></h6>
      <% elsif current_user %>
        <%= render "/bids/new.html.erb" %>
      <% else %>
        <%= link_to "Join to Bid", login_path, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
