<ul id="dropdown1" class="dropdown-content ">
  <% category_list.each do |category| %>
    <li><a href="<%= category_path(category) %>"><%= category.name.titleize %></a></li>
  <% end %>
</ul>

<nav>
  <div class="nav-wrapper blue-grey">
    <a href="/" class="brand-logo">BidDay</a>
    <ul class="right hide-on-med-and-down">
      <li>
        <div class="nav-wrapper blue-grey">
          <form>
            <div class="input-field">
              <label for="search"><i class="material-icons">search</i></label>
              <input id="search" type="search" required>
              <i class="material-icons">close</i>
            </div>
          </form>
        </div>
      </li>
      <% if current_user %>
        <li><%= link_to "Hello, #{current_user.username.titleize}", dashboard_path %></li>
        <li><%= link_to "Log Out", logout_path, method: :delete %></li>
      <% else %>
        <li><a href="/register">Create Account</a></li>
        <li><a href="/login">Log In</a></li>
      <% end %>
      <li><a href="/auctions">Auctions</a></li>
      <li><a href="/stores">Browse Stores</a></li>
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Categories<i class="material-icons right">arrow_drop_down</i></a></li>
      <!-- Dropdown Trigger -->
      <li><a href="/cart">Items in Cart: <%= session[:cart].values.sum if session[:cart] %></a></li>
      <li><a id="cart" href="/cart"><span class="glyphicon glyphicon-shopping-cart"></span></a></li>
    </ul>

  </div>
</nav>

<script type="text/javascript">
  $(".dropdown-button").dropdown();
</script>
