<% @auctions.each do |auction| %>
  <div class="col-sm-4">
    <div class="thumbnail">
      <%= image_tag auction.item.avatar.url %>
      <div class="caption">
      <h4 class="pull-right">
      <h4><%= link_to auction.item.title, item_path(auction.item) %></h4>
      <p><%= auction.item.description %></p>
      <p>Starting Price: <%= number_to_currency(auction.starting_price) %></p>
      <p>Current Bid: <%= number_to_currency(auction.item.current_bid) %></p>
      </div>
    </div>
  </div>
<% end %>